@page
@{
    ViewData["Title"] = "Fluent Search - Search for running applications and browser tabs";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="With Fluent Search you can search for running apps, browser tabs, in-app content, files and more. You can use fluent search to use the computer without a mouse.">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fluent Search - Search for running applications and browser tabs</title>
    <link href="home/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="home/cover.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="container d-flex h-100 p-3 mx-auto flex-column">
    <header >
        <div class="inner" style="margin-bottom: 1px">
            <img alt="Fluent Search logo" class="masthead-brand" src="Fluent Search Logo.png" width="auto" height="60px"/>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="https://twitter.com/FluentSearch">Twitter</a>
                <a class="nav-link" href="~/blog">Blog</a>
                <a class="nav-link" href="https://discord.gg/8upVDmN">Discord</a>
            </nav>
        </div>
    </header>

    <main class="inner cover" style="align-content: center; align-self: center; text-align: center; display: flex; flex-direction: column; justify-content: center; margin-top: 10%">
        <img alt="Search in Fluent Search for running processes, browser tabs, in app-content." class="cover-heading" src="fluent_light_search.gif" width="70%" height="auto" style="align-content: center; align-self: center; text-align: center; display: flex; flex-direction: column; justify-content: center; margin-bottom: 2.5%">
        <h1 class="cover-heading">Fluent Search</h1>
        <h class="lead" style="font-weight: inherit">With Fluent Search, you can search for running apps, browser tabs, in-app content, files and more.</h>
        <p class="lead" style="margin-top: 3%; margin-bottom: 7%">
            <a href="https://www.microsoft.com/en-gb/p/blast-search/9nk1hlwhnp8s?rtc=1" class="btn btn-lg btn-secondary" style="margin-right: 1%">
                <img alt="Download Fluent Search for Windows 10" style="margin-bottom: 3%;margin-right: 3%" class="align" src="windows10-logo.png" width="24px" height="auto"/>
                Download
            </a>
            <a href="https://www.youtube.com/watch?v=9v61H7JbjQc" class="btn btn-lg btn-secondary">
                <img alt="Watch Fluent Search demo video in Youtube" style="margin-bottom: 3%;margin-right: 3%" class="align" src="youtube_icon_logo.png" width="24px" height="auto"/>
                Watch Video
            </a>
        </p>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="home/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="home/assets/js/vendor/popper.min.js"></script>
<script src="home/dist/js/bootstrap.min.js"></script>
</body>
</html>